body {
    margin: 0px;
    padding: 0px;
}

* {
    margin: 0px;
    padding: 0px;
    text-align: justify;
}

nav {
    margin-top: 5px;
}

.nav-item {
    margin: 0px 25px;
    font-size: 25px;
}

.addNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.containertop {
    margin: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.containerBelow {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pastRec {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;

}

.card {
    width: 100%;
}